
obj/Release/net6.0/MyImageUploader.csproj.AssemblyReference.cache
obj/Release/net6.0/MyImageUploader.AssemblyInfo.cs
obj/project.nuget.cache
obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Release/net6.0/MyImageUploader.AssemblyInfoInputs.cache
obj/MyImageUploader.csproj.nuget.g.targets
*.props
obj/MyImageUploader.csproj.nuget.dgspec.json
obj/Debug/net6.0/staticwebassets.build.json
obj/Debug/net6.0/refint/MyImageUploader.dll
obj/Debug/net6.0/ref/MyImageUploader.dll
bin/Debug/net6.0/appsettings.Development.json
bin/Debug/net6.0/imageInfo.json
bin/Debug/net6.0/MyImageUploader.dll
obj/Debug/net6.0/MyImageUploader.pdb
obj/Debug/net6.0/MyImageUploader.GlobalUsings.g.cs
obj/Debug/net6.0/MyImageUploader.genruntimeconfig.cache
.vs/imageUploader-Assignment2/FileContentIndex/d5d73dc9-5115-4754-9aac-0550b8a6cd71.vsidx
.vs/imageUploader-Assignment2/FileContentIndex/d5d73dc9-5115-4754-9aac-0550b8a6cd71.vsidx
.vs/imageUploader-Assignment2/FileContentIndex/615c7d9b-aa29-4708-90cb-6b7ec4e7bcb3.vsidx
.vs/imageUploader-Assignment2/v17/.wsuo
.vs/MyImageUploader/FileContentIndex/56f31e70-3148-46fc-af5f-dcc5cb97b355.vsidx
.vs/MyImageUploader/DesignTimeBuild/.dtbcache.v2
.vs/MyImageUploader/FileContentIndex/ad6db6ab-2261-464e-a9c9-ec49e52bdf0b.vsidx
.vs/MyImageUploader/v17/.suo
.vs/MyImageUploader/FileContentIndex/read.lock
.vs/MyImageUploader/FileContentIndex/a42a0b9a-d39e-45cc-8844-b35cc087efef.vsidx
.vs/MyImageUploader/v17/.futdcache.v2
.vs/ProjectEvaluation/myimageuploader.metadata.v7.bin
.vs/slnx.sqlite
bin/Debug/net6.0/MyImageUploader.exe
.vs/VSWorkspaceState.json
bin/Debug/net6.0/MyImageUploader.deps.json
bin/Debug/net6.0/appsettings.json
.vs/ProjectSettings.json
.vs/ProjectEvaluation/myimageuploader.projects.v7.bin
bin/Debug/net6.0/MyImageUploader.pdb
bin/Debug/net6.0/MyImageUploader.runtimeconfig.json
.vs/MyImageUploader/config/applicationhost.config
.vs/imageUploader-Assignment2/FileContentIndex/read.lock
.vs/imageUploader-Assignment2/FileContentIndex/aa83dfd9-52f4-4455-afeb-2dcebc2a960b.vsidx
.vs/MyImageUploader/FileContentIndex/4210afe6-14a5-4e24-a1d5-b6d71a8c3198.vsidx
obj/Debug/net6.0/MyImageUploader.AssemblyInfo.cs
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/MyImageUploader.AssemblyInfoInputs.cache
obj/Debug/net6.0/MyImageUploader.csproj.BuildWithSkipAnalyzers
obj/Debug/net6.0/MyImageUploader.csproj.FileListAbsolute.txt
obj/Debug/net6.0/MyImageUploader.csproj.AssemblyReference.cache
obj/Debug/net6.0/MyImageUploader.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/MyImageUploader.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net6.0/MyImageUploader.dll
obj/Debug/net6.0/MyImageUploader.csproj.CoreCompileInputs.cache
obj/project.assets.json
obj/Release/net6.0/MyImageUploader.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net6.0/MyImageUploader.GlobalUsings.g.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/MyImageUploader.assets.cache
